html
{
    --primary-color : #b4db9a;
    --secondary-color : #a70606;
}
body{
    background-color: var(--primary-color);
    font-size: 13px;
    font-family: 'Roboto', sans-serif;
}
div
{
    width: 100px;
    height: 100px;
}
.btn
{
    width: 150px;
    height: 150px;
    background-color: transparent;
    border-radius: 50%;
    border-color: var(--secondary-color);
    border-style: solid;
}
h2, h6, p{
    color: var(--secondary-color);
}
.setting_btn{
    background-color: var(--primary-color);
    color: var(--secondary-color);
    border-color: var(--secondary-color);
    border-style: solid;
    width: 60px;
    height: 30px;
}
.A-cycles{
    box-sizing: 100px;
}